/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.cypress
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/draft.yaml
/.blueprint
bootstrap/ssr/ssr.js
