button, select {
  text-transform: inherit;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(245, 238, 238, 0.3);
    box-shadow: inset 0 0 6px rgba(245, 238, 238, 0.3);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(211, 204, 204, 0.5);
    box-shadow: inset 0 0 6px rgba(211, 204, 204, 0.5);
}